.form {
  display: grid;
  gap: 16px;
}

.postBody {
  width: 100%;
  min-height: 480px;
  resize: vertical;
}

.label {
  display: grid;
  gap: 4px;
}

.count {
  display: flex;
  justify-content: flex-end;
  margin-top: 4px;
}

.controls {
  display: flex;
  gap: var(--mfui-size-spacing-inline-horizontal-comfort);
  justify-content: flex-end;
}
