.base {
  display: flex;
  height: 100%;
  background-color: var(--mfui-color-dark-accent-background-none);
}

.navigation {
  flex: 1;
  overflow: auto;
}

.link {
  display: flex;
  gap: var(--mfui-size-spacing-icon-and-text-horizontal-comfort);
  align-items: center;
  padding-block: var(--mfui-size-padding-container-vertical-comfort)
    calc(var(--mfui-size-padding-container-vertical-comfort) - 1px);
  padding-inline: var(--mfui-size-padding-container-horizontal-comfort);
  font-size: var(--mfui-typography-font-size-control-label);
  color: var(--mfui-color-dark-accent-content-none);
  border-bottom: 1px solid var(--mfui-color-dark-accent-border-none);

  &:hover {
    color: var(--mfui-color-dark-accent-content-hovered);
    background-color: var(--mfui-color-dark-accent-background-hovered);
  }
}

.linkActive {
  color: var(--mfui-color-base-inverted-content-none);
  background-color: var(--mfui-color-selected-content-none);

  &:hover {
    color: var(--mfui-color-base-inverted-content-hovered);
    background-color: var(--mfui-color-selected-content-hovered);
  }
}

.linkIcon {
  display: inline-grid;
  place-content: center;
  width: 24px;
  height: 24px;

  > svg {
    width: var(--mfui-size-dimension-icon-square-comfort);
    height: var(--mfui-size-dimension-icon-square-comfort);
  }
}
