.base {
  position: relative;
  display: grid;
  place-content: start center;
  height: 100dvh;
  padding-top: 48px;
}

.formBody {
  display: grid;
  gap: var(--mfui-size-spacing-paragraph-vertical-condensed);
}

.formLabel {
  &::after {
    content: ':';
  }
}
