.base {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 16px;
  height: 100%;
}

.form {
  position: relative;
  display: flex;
  gap: var(--mfui-size-spacing-inline-horizontal-comfort);
  align-items: center;
}

.formGroup {
  display: flex;
  gap: 4px;
  align-items: center;
}

.formItem {
  min-width: 240px;
}

.labelDisplay {
  &::after {
    content: ':';
  }
}

.dataGrid {
  overflow: hidden;
}
