.base {
  display: grid;
  grid-template-areas:
    'header'
    'body';
  grid-template-rows: auto 1fr;
  overflow: hidden;
  background-color: var(--mfui-color-base-background-none);
  border-radius: var(--mfui-size-radius-floating-component-comfort);
  box-shadow: var(--mfui-elevation-plus-1-shadow-1);

  > :not(:first-child) {
    border-top: 1px solid var(--mfui-color-neutral-sub-border-none);
  }
}

.header {
  grid-area: header;
  padding: var(--mfui-layout-grid-scale-vertical-0-7of8) var(--mfui-size-spacing-section-horizontal-comfort)
    var(--mfui-layout-grid-scale-vertical-0-1of2);
}

.body {
  grid-area: body;
  padding: var(--mfui-layout-grid-scale-vertical-0-1of2) var(--mfui-size-spacing-section-horizontal-comfort)
    var(--mfui-layout-grid-scale-vertical-0-7of8);
  overflow: auto;
}
