.base {
  display: grid;
  gap: 24px;
  width: 80%;
}

.articleMeta {
  display: grid;
  gap: 8px;
}

.authorControls {
  display: flex;
  gap: var(--mfui-size-spacing-inline-horizontal-comfort);
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.comment {
  display: grid;
  grid-template-areas:
    'avatar email'
    '.      body';
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-auto-columns: 1fr;
  gap: 4px;
}

.avatar {
  display: grid;
  grid-area: avatar;
  place-content: center;
  width: 32px;
  height: 32px;
}

.deleteForm {
  display: contents;
}
