.base {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;

  @media (width >= 768px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (width >= 992px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.value {
  margin-top: 20px;
  font-size: 32px;
  font-weight: var(--mfui-typography-font-weight-strong-body);
}
